*.class
*.jar
*.war
*.ear
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
*.iml
local.properties
.loadpath
.factorypath
.idea/
/target/
resources/config.properties
/src/main/resources/config.properties
