<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>sqlschool</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ServletMenu</servlet-name>
		<servlet-class>com.foxminded.andreimarkov.sqlschool.ui.ServletMenu</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletMenu</servlet-name>
		<url-pattern>/ServletMenu</url-pattern>
	</servlet-mapping>
	<listener>
		<description>application startup and shutdown events</description>
		<display-name>ApplicationListener</display-name>
		<listener-class>com.foxminded.andreimarkov.sqlschool.ui.ApplicationListener</listener-class>
	</listener>
</web-app>